.active {
  background-color: red;
  color: #fff;
  font-weight: bold;
}

.activeTwo {
  background-color: green;
  color: #fff;
  font-weight: bold;
}

.activeThree {
  background-color: yellow;
  color: #fff;
  font-weight: bold;
}

.activeFour {
  background-color: #558795;
  color: #fff;
  font-weight: bold;
}
